/* Add a black background color to the top navigation */

.topnav {
    background-color: #333;
    overflow: hidden;
}


/* Style the links inside the navigation bar */

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


/* Change the color of links on hover */

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.card {
    flex-direction: row;
}

.card img {
    width: 30%;
}

.card h5,
.card h3,
.card p {
    color: white;
}

.card-body {
    padding-bottom: 5px;
    color: white;
}

.card-title {
    font-size: 40px;
    color: white;
    margin-right: 5px;
}

.efficiency {
    font-size: 100px;
    color: white;
}

body {
    background: black;
    overflow: hidden;
}

.card {
    background: black;
}

.card-text {
    font-size: 14px;
}

.svg_red {
    filter: invert(54%) sepia(92%) saturate(4753%) hue-rotate(338deg) brightness(94%) contrast(104%);
}

.svg_gray {
    filter: invert(100%) sepia(25%) saturate(6288%) hue-rotate(186deg) brightness(128%) contrast(76%);
}

.svg_green {
    filter: invert(54%) sepia(77%) saturate(347%) hue-rotate(73deg) brightness(93%) contrast(92%);
}

.svg_yellow {
    filter: invert(87%) sepia(39%) saturate(795%) hue-rotate(352deg) brightness(104%) contrast(101%);
}

.svg_blue {
    filter: invert(59%) sepia(36%) saturate(6541%) hue-rotate(166deg) brightness(101%) contrast(97%);
}

.svg_purple {
    filter: invert(39%) sepia(17%) saturate(4150%) hue-rotate(257deg) brightness(90%) contrast(90%);
}

form label {
    color: white;
}

.tooltip.in {
    opacity: 1;
    color: white
}

.relative {
    position: relative;
}

.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-center {
    text-align: center;
}

p {
    font-size: 1.5rem;
    color: white;
}